html {
  font-family: Rubik, system-ui, sans-serif;
}

.article {
  font-size: 17px;
  line-height: 24px;
  --at-apply: font-sans
}
.article p {
  --at-apply: px-2
}
.article a {
  --at-apply: px-2
}

.article h1 {
  border-radius: 11px;
  background: linear-gradient(90deg, #0a001f, #130c31, #1d1245, #2a1558, #3a176b, #4c177e, #611390, #7705a1);
  backdrop-filter: blur( 5px );-webkit-backdrop-filter: blur( 5px );
  -webkit-box-shadow:0px 0px 60px 15px rgba(111,0,255,0.65);
  -moz-box-shadow: 0px 0px 60px 15px rgba(111,0,255,0.65);
  box-shadow: 0px 0px 60px 15px rgba(111,0,255,0.65);
  /* padding-left: 7px; */
  margin-bottom: 0.75em;
  padding-top: 2px;
  padding-bottom: 5px;
  
  --at-apply: text-5xl font-bold px-2
}

.article h2 {
  margin-top: 0.75em;
  margin-bottom: -0.25em;
  --at-apply: text-3xl font-bold 
}

.article h3 {
  margin-top: 0.4em;
  margin-bottom: -0.5em;
  --at-apply: text-2xl font-bold px-2
}

.article h3 a {
  padding-left: 0rem;
  padding-right: 0rem;
}

.article hr {
  margin-top: 2em;
  margin-bottom: 2em;
  --at-apply: mx-2
  
}

.article p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  --at-apply: text-justify
}

.article img {
  --at-apply: my-10 mx-auto rounded-xl shadow-[0px_0px_60px_-15px_rgba(0,0,0,1)] shadow-indigo-600 hover:shadow-indigo-600/75 transition-all ease-in-out;
}

.navbar-fixed-top {
  position: fixed;   /* fixing the position takes it out of html flow - knows
                     nothing about where to locate itself except by browser
                     coordinates */
  left: 0; /* top left corner should start at leftmost spot */
  top: 0; /* top left corner should start at topmost spot */
  width: 100vw; /* take up the full browser width */
  z-index: 200; /* high z index so other content scrolls underneath */
  /* height:100px;     define height for content */
}

.transition-container {
  animation: transitionIn 0.75s ease-in-out;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* Glowing Text */
.glow-green-txt {
  text-shadow: rgba(123,255,0,1) 0px 0px 105px; 
}


.cssbg {
  background: linear-gradient(315deg, #207e91, #1c8092, #0c8492, #008a92, #009290, #00998a, #21a181, #3fa775, #57ad6a, #6ab060, #77b259, #7cb357);

  /* background: linear-gradient(270deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b); */
  /* background: linear-gradient(0deg, #240004, #290a17, #2e1224, #301a33, #2f2441, #292e4e, #1d385a, #034363); */

  /* background: radial-gradient(circle at 50% 50%, #0f6b0f, #186c15, #1f6d1b, #256e20, #2b7025, #307129, #35722e, #397332); */
  
  /* background: linear-gradient(90deg, #0b2f38, #003941, #004346, #004e48, #005847, #006143, #1e6b3c, #397332); */

  /* background-image: linear-gradient(10deg, #2f8000 0%, #307411 16%, #2f681a 33%, #2e5c20 50%, #2c5124 66%, #294627 83%, #263b2a 100%);
  background-color: #4158D0; */
  /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

  /* background-color: #F4D03F;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%); */

  /* background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
}

.navb-css-1 {
  background: linear-gradient(90deg, #07001480, #1e022d80, #41064380, #570d4380, #69153980, #79202a80, #863f2e80, #91673d80);
}


/* .navbar-css-wrapper {  */
  /* height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute; */
/* background: linear-gradient(124deg, #ff22003d, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;


-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
} */