html {
  font-family: Rubik, system-ui, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 78vh;
  justify-content: space-between;
}

/* #footer { */
  /* position: absolute; */
  /* --at-apply: grid justify-center pb-5;
} */

/* .nav-icon-container { */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh;
  width: 100vw; */
/* } */


#github {
  font-size: 2.2em;
  background-color: #18191f;
  color: #fff;
  /* box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080; */
  border-radius: 30px;
  padding: 2px 4px 0px 4px;
  /* margin: 0 40px; */
  animation: animate-social-icons 3s linear infinite;
  animation-delay: 0.5s;
  transition: 0.4s;
  /* text-emphasis-color: green; */
  text-shadow: 0 0 30px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}

#github:hover {
  color: #0072ff;
  transition: 0.4s;
  /* animation: ease-in-out; */
}

@keyframes animate-social-icons {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.article {
  font-size: 17px;
  line-height: 24px;
  --at-apply: font-sans
}
.article p {
  --at-apply: px-2
}
.article a {
  --at-apply: px-2
}

.article h1 {
  justify-content: center;
  align-items: center;
  
  border-radius: 11px;
  background: linear-gradient(90deg, #0a001f, #130c31, #1d1245, #2a1558, #3a176b, #4c177e, #611390, #7705a1);
  backdrop-filter: blur( 5px );-webkit-backdrop-filter: blur( 5px );
  -webkit-box-shadow:0px 0px 60px 15px rgba(111,0,255,0.65);
  -moz-box-shadow: 0px 0px 60px 1px rgba(111,0,255,0.65);
  box-shadow: 0px 1px 50px 5px rgba(111,0,255, 0.534);
  /* padding-left: 7px; */
  margin-bottom: 0.75em;
  padding-top: 2px;
  padding-bottom: 5px;
  
  /* color: #f0f0f0; */
  /* font-size: 100px;
  font-family: Futura; */
  /* background-color: #666666; */
  text-shadow: 1px 4px 4px #a957c269;
  /* text-align: center; */
  /* -webkit-background-clip: text; */
    /* -moz-background-clip: text; */

 
  
  --at-apply: text-5xl font-bold px-2
}

.article h2 {
  margin-top: 0.75em;
  margin-bottom: -0.25em;
  --at-apply: text-3xl font-bold 
}

.article h3 {
  margin-top: 0.4em;
  margin-bottom: -0.5em;
  --at-apply: text-2xl font-bold px-2
}

.article h3 a {
  padding-left: 0rem;
  padding-right: 0rem;
}

.article hr {
  margin-top: 2em;
  margin-bottom: 2em;
  --at-apply: mx-2
  
}

.article p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  --at-apply: text-justify
}

.article img {
  --at-apply: my-10 mx-auto rounded-xl shadow-[0px_0px_60px_-15px_rgba(0,0,0,1)] shadow-indigo-600 hover:shadow-indigo-600/75 transition-all ease-in-out;
}

.navbar-fixed-top {
  position: fixed;   /* fixing the position takes it out of html flow - knows
                     nothing about where to locate itself except by browser
                     coordinates */
  left: 0; /* top left corner should start at leftmost spot */
  top: 0; /* top left corner should start at topmost spot */
  width: 100vw; /* take up the full browser width */
  z-index: 200; /* high z index so other content scrolls underneath */
  /* height:100px;     define height for content */
}

.transition-container {
  animation: transitionIn 0.75s ease-in-out;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* Glowing Text */
.glow-green-txt {
  text-shadow: rgba(123,255,0,1) 0px 0px 105px; 
}


.cssbg {
  background: linear-gradient(315deg, #207e91, #1c8092, #0c8492, #008a92, #009290, #00998a, #21a181, #3fa775, #57ad6a, #6ab060, #77b259, #7cb357);
  

  /* background: linear-gradient(270deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b); */
  /* background: linear-gradient(0deg, #240004, #290a17, #2e1224, #301a33, #2f2441, #292e4e, #1d385a, #034363); */

  /* background: radial-gradient(circle at 50% 50%, #0f6b0f, #186c15, #1f6d1b, #256e20, #2b7025, #307129, #35722e, #397332); */
  
  /* background: linear-gradient(90deg, #0b2f38, #003941, #004346, #004e48, #005847, #006143, #1e6b3c, #397332); */

  /* background-image: linear-gradient(10deg, #2f8000 0%, #307411 16%, #2f681a 33%, #2e5c20 50%, #2c5124 66%, #294627 83%, #263b2a 100%);
  background-color: #4158D0; */
  /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

  /* background-color: #F4D03F;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%); */

  /* background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
}

.navb-css-1 {
  background: linear-gradient(90deg, #11003380, #3e005980, #54005480, #66004d80, #76004680, #83003d80, #8e003480, #96002a80, #9c001f80, #75110f80, #6b1d0080);
  /* background: linear-gradient(90deg, #0d0026, #26092b, #3e092a, #520f25, #611c1d, #692e11, #6a4204, #635600); */
  /* background: linear-gradient(90deg, #0d0026, #1c032a, #2b032b, #3a0029, #480024, #54001c, #5d0012, #630000); */
  /* background: linear-gradient(90deg, #0d0026, #1f062e, #330332, #480031, #5b002c, #6c0023, #790016, #820000); */
  /* background: linear-gradient(90deg, #07001480, #1e022d80, #41064380, #570d4380, #69153980, #79202a80, #863f2e80, #91673d80); */
  /* animation: animate 3s linear infinite; */
}

.navb-border {
  text-align: center;
  /* border-bottom:2px solid transparent;
  border-image: radial-gradient(circle, rgba(255, 52, 52, 0.733), rgba(168, 62, 255, 0.733)) 1;
  border-image-slice: 1;
  width: 100%;
  filter:blur(20px); */
  border-bottom: 2px solid transparent;
  border-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255, 0, 179, 0.61) 80%,  rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  width: 100%;
  /* animation: animation-navb-border 2s linear infinite; */
  box-shadow: 0px 0px 12px 1px rgb(25, 0, 255);
}

@keyframes animation-navb-border {
  /* 0% {
    border-image: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
    border-image-slice: 1;
  }
  50% {
    border-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
    border-image-slice: 1;
  } */


  /* from {
    border-image: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
    border-image-slice: 1; */
    /* border-bottom:1px solid rgba(255, 73, 73, 0.603); */
    /* box-shadow: 10px 20px 30px blue; */
    /* filter: hue-rotate(0deg); */
  /* }
  to {
    border-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
    border-image-slice: 1; */
    /*background: rgb(63,94,251);
    background:  */
    /* filter: hue-rotate(360deg); */
    /* box-shadow: 10px 20px 30px rgb(255, 38, 0); */
    /* border-bottom: 1px solid rgb(85, 55, 255); */
  /* } */
}

/* @keyframes mymove {
  50% {
    box-shadow: 10px 20px 30px blue;
    border-bottom:rgba(111, 0, 255, 0.733) 5px solid;
  }
} */

.navb-border::after {
  content: "";
  position:absolute;
  background:linear-gradient(red, yellow, green, cyan, blue, magenta, red);
  z-index: -1;
}





/* .navbar-css-wrapper {  */
  /* height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute; */
/* background: linear-gradient(124deg, #ff22003d, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;


-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
} */